.toolbar-default{
    --background:#ff6700;
    --color:whitesmoke;
}

// @media (prefers-color-scheme: dark) {
//     .toolbar-default{
//         --background:#ff6700;
//         --color:whitesmoke;
//     }
// }