
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="0" size-sm="3" size-md="4"></ion-col>
      <ion-col size-xs="12" size-sm="6" size-md="4" style="margin-top:20vh;">
        <ion-card class="theme-bg">
          <ion-card-title class="ion-text-center ion-padding-top theme-font" mode="ios">
            Login
          </ion-card-title>
          <ion-card-content>
            <ion-row>
              <ion-col size="12" class="ion-no-margin">
                Email
              </ion-col>
              <ion-col size="12">
                <ion-card class="ion-no-margin">
                  <ion-input [(ngModel)]="user.email" type="email"></ion-input>

                </ion-card>
              </ion-col>
              <ion-col size="8" class="ion-no-margin ">
                Password
              </ion-col>
              <ion-col size="4" class="ion-text-right ion-align-items-center ion-no-margin " (click)="hidePass()"> 
                <!-- <ion-label>Show password</ion-label>  -->
                <ion-icon *ngIf="hide_password" style="font-size: 1.5em;" name="eye-off-outline"></ion-icon>
                <ion-icon *ngIf="!hide_password" style="font-size: 1.5em;" name="eye-outline"></ion-icon>
              </ion-col>
              <ion-col size="12">
                <ion-card class="ion-no-margin">
                  <ion-input [(ngModel)]="user.pass" [type]="hide_password?'password':'text'"></ion-input>

                </ion-card>
              </ion-col>
              <ion-col size="12" class="ion-text-right">
                <ion-button color="dark" (click)="loginNormal()">Login</ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xs="0" size-sm="3" size-md="4"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
