<ion-app>
  <ion-split-pane when="width>3000" contentId="main-content" [disabled]="disabledsplitpane">
      <ion-menu contentId="main-content" type="overlay" class="menu-width">
          <ion-header>
              <ion-toolbar>
                  <ion-row>
                      <ion-col class="ion-align-self-center ion-text-center">
                          Menu
                      </ion-col>
                      <ion-col size-xs="2">
                          <img src="assets/app.png">
                      </ion-col>
                  </ion-row>
                  <!-- <ion-title>Menu</ion-title> -->
              </ion-toolbar>
          </ion-header>
          <ion-content>
              <ion-menu-toggle auto-hide="false">
                  <ion-item *ngFor="let p of appPages; let i = index" (click)="selectedIndex = i;setMenuIndex(i) "
                      routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                      [class.selected]="selectedIndex == i">
                      <ion-icon slot="start" [name]="p.icon"></ion-icon>
                      <ion-label>{{ p.title }} <sup *ngIf="p.isBeta">[Beta]</sup></ion-label>
                  </ion-item>
                  <ion-item color="danger" (click)="logout()">
                      <ion-icon slot="start" name="log-out-outline"></ion-icon>
                      <ion-label>LOGOUT</ion-label>
                  </ion-item>
                 
              </ion-menu-toggle>
         
          </ion-content>
          <ion-footer class="ion-no-border">
          
          </ion-footer>
      </ion-menu>
      <ion-router-outlet id="main-content" style="width: 100%;"></ion-router-outlet>
  </ion-split-pane>
</ion-app>